@import "tailwindcss";
@theme{
  --color-customblue:#2563EB;
  --color-white:#FFFFFF;
  --color-customgrey:#D9D9D9;
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}